 <link rel="stylesheet" href="/css/employee.css">
 <!-- this is a box  -->
 <div id="box"> 
    <!-- from for submitting employee  -->
    <div id="list">

        <%- include("../partials/employees-list") %>
    </div>
    <div id="add">

        <%- include("../partials/add-employee") %>
    </div>
    <div id="edit">

        <%- include("../partials/edit-employee") %>
    </div>
</div>
<script src="/js/employees.js"></script>