/* css for assign task page */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff33;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(100, 99, 99, 0.1);
    
}
/* header title  */
#head {
    /* margin-top: 1ch; */
    text-align: center;
    padding: 5px;
    color: aliceblue;
}

/* this is the container for inputs */
.input_field{
    height: 60px;
    padding-left: 5%;
}


.sec_input{
    display: flex;
    justify-content: space-around;
    
}
.sec_input div{
    padding-top: 5px;
    width: 50%;
    /* border: 2px solid red; */
    
}
/* category input  */
#review_for{
    outline: none;
    border: none;
    width: 90%;
    height: 50%;
}
#review_by{
    outline: none;
    border: none;
    width: 90%;
    height: 50%;
}


/* buttons */
#btns{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btns button{
    width: 150px;
    height: 50px;
    margin: 5px;
    color: aliceblue;
    border-radius: 5px;
    border : none;
}
#add_btn{
    background-color: rgb(80, 82, 82);
}
#delete_btn{
    background: linear-gradient(to right top,  rgb(245, 215, 45), rgb(245, 113, 25));
}
/* assign_task list container  */
#assign_task_list{
    /* border: 2px solid ; */
    height: 40vh;
    overflow: auto;
}
/* this is for each item list  */
.assign_task_items{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.assign_task_check{
    margin: 5px;
}
.assign_task_info{
    margin: 10px 5%;
}
.assign_task{
    margin-bottom: 5px;
}
.assign_task_category{
    margin-left: auto;
    width: 20%;
    height: 30px;
    background-color: yellowgreen;
    text-align: center;
    color: aliceblue;
    font: 200;
    font-size: larger;
    border-radius: 5px;
    line-height: 30px;
}
