/* css for layout  */
*{
    margin: 0;
    color: rgb(94, 93, 92);
}
.layout-body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to right, rgb(205, 234, 147), rgb(90, 205, 124));
}
/* this is outer container  */
#cont{
    max-width: 1000px;
    /* min-height: 80vh; */
    /* width: 100%; */
    width: 100%;
    /* background-color: rgb(72, 71, 71); */
    /* border: 2px solid red; */
    margin: 0 auto;
}
.admin{
    min-height: 100vh;
    background: linear-gradient( to right, rgb(240, 119, 119), rgb(232, 153, 49));
}